html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #e5e5e5;

    background: url("img/fundo.jpeg") no-repeat center center;
    background-size: 100% 100%;
}

h1 {
    margin-top: 30px;
    color: #c0c0c0;
    /* prata */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.card {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 12px;
    width: 220px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    border: 1px solid #3a3a3a;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(192, 192, 192, 0.2);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

button {
    padding: 12px;
    background: linear-gradient(145deg, #c0c0c0, #8f8f8f);
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(145deg, #ffffff, #bfbfbf);
}

.btn-galeria {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    padding: 10px 12px;
    font-size: 16px;

    background: linear-gradient(145deg, #c0c0c0, #8f8f8f);
    color: black;

    border: none;
    border-radius: 0 8px 8px 0;

    cursor: pointer;
    z-index: 9999;

    width: auto;
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
}

/* CAIXA */
.modal-content {
    background: #111;
    margin: 60px auto;
    padding: 25px;
    border-radius: 12px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

/* BOTÃO FECHAR */
.fechar {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* GRID DAS IMAGENS */
.galeria-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria-grid img {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #444;
}
.btn-galeria:hover {
    transform: translateX(5px);
}